#container1{
    display: flex;
    width: 100vw;
    height: 400px;
    background-color: rgb(26, 153, 125);
    justify-content: center;
    align-items: center;
}
#wrapper1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    gap: 100px;
}
#box1{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    box-shadow: 5px 10px rgb(231, 223, 209);
    
}
#box2{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 10px rgb(231, 223, 209);
}
#box3{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(231, 223, 209);

}
#box4{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color:rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(231, 223, 209);
    
}
#container2{
    display: flex;
    width: 100vw;
    height: 400px;
    background-color: rgb(226, 219, 219);
    justify-content: center;
    align-items: center;
}
#wrapper2{
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 100px;
    
}
#box5{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align:center ;
    border-radius: 20px;
    font-size: 13px;
    box-shadow: 5px 10px rgb(231, 223, 209);

}
#box6{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
     font-size: 13px;
    box-shadow: 5px 10px rgb(231, 223, 209);
    
} 
 #box7{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
     font-size: 13px;
    box-shadow: 5px 10px rgb(231, 223, 209);
 }
 #box8{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    font-size: 13px;
    box-shadow: 5px 10px rgb(231, 223, 209);
 }
 #container3 {
    width: 100vw;
    height: 400px;
    background-color: rgb(248, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#wrapper3{
    display: flex;
    flex-direction: flex;
    gap: 100px;
} 

 #box9{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
    box-shadow: 5px 10px rgb(231, 223, 209);
     
 }
  #box10{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
    box-shadow: 5px 10px rgb(231, 223, 209);
     
 }
 #box11{
    width: 15vw;
    height: 45vh;
    border: 1px solid;
    background-color: rgb(247, 233, 233);
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
    box-shadow: 5px 10px rgb(231, 223, 209);
 }
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
 }
 #button1{
    width: 160px;
    height: 20px;
    border-radius: 20px;
    color: black;

 }
 #button2{
    width: 100px;
    height: 25px;
    border: 20px;
    color: rgb(27, 21, 21);
 }
.box button:hover {
    background-color: rgb(166, 238, 204);
}
button:haver{
    transform: scale (1.1);
}

